<div *ngIf="launch">
  <h3>Fiche détaillée de la mission N°{{launch.flight_number}}</h3>

  <mat-card class="mission-card">
    <mat-card-header>
      <img mat-card-avatar *ngIf="launch.links.mission_patch_small" src="{{launch.links.mission_patch_small}}" > 
      <mat-card-title>
        <h5>{{launch.mission_name}}</h5>
      </mat-card-title>
      <mat-card-subtitle>{{launch.launch_date_utc | date:'dd/MM/yyyy HH:mm'}}</mat-card-subtitle>
    </mat-card-header>  

    <mat-card-content>
      
      <mat-tab-group>
        <mat-tab label="Description">
          <p><button mat-raised-button class="{{launch.launch_success ? 'success' : 'fail'}}">Objectif {{launch.launch_success ? 'ATTEINT' : 'ECHOUE'}}</button></p>
          <p>{{launch.details}}</p>
        </mat-tab>
        <mat-tab label="Documents annexes">
          <a href="{{launch.links.article_link}}" target="_blank">{{launch.links.article_link}}</a>
          <img src="{{launch.links.mission_patch}}" style="max-height:150px;">
          <p><a href="{{launch.links.presskit}}" target="_blank">Consulter l'article de presse</a></p>
          <p><a href="{{launch.links.video_link}}" target="_blank">Accès à la vidéo Youtube</a></p>
          <p><a href="{{launch.links.wikipedia}}" target="_blank">Description Wikipédia</a></p>
        </mat-tab>
        <mat-tab label="Réutilisation de certains composants">
          <table id="reuse">
            <tr>
              <td>Noyau</td>
              <td>Noyau latéral 1</td>
              <td>Noyau latéral 2</td>
              <td>Carénages</td>
              <td>Capsule</td>
            </tr>
            <tr>
                <td>
                    <mat-chip-list>
                      <mat-chip class="{{launch.reuse.core ? 'success' : 'fail'}}" selected="true">
                        {{launch.reuse.core ? 'réutilisé' : 'non-réutilisé'}}
                      </mat-chip>
                    </mat-chip-list>
                </td>
                <td>
                  <mat-chip-list>
                    <mat-chip class="{{launch.reuse.side_core1 ? 'success' : 'fail'}}" selected="true">
                      {{launch.reuse.side_core1 ? 'réutilisé' : 'non-réutilisé'}}
                    </mat-chip>
                  </mat-chip-list>
                </td>            
                <td>
                  <mat-chip-list>
                    <mat-chip class="{{launch.reuse.side_core2 ? 'success' : 'fail'}}" selected="true">
                      {{launch.reuse.side_core2 ? 'réutilisé' : 'non-réutilisé'}}
                    </mat-chip>
                  </mat-chip-list>
                </td>            
                <td>
                  <mat-chip-list>
                    <mat-chip class="{{launch.reuse.fairings ? 'success' : 'fail'}}" selected="true">
                      {{launch.reuse.fairings ? 'réutilisé' : 'non-réutilisé'}}
                    </mat-chip>
                  </mat-chip-list>
                </td>            
                <td>
                  <mat-chip-list>
                    <mat-chip class="{{launch.reuse.capsule ? 'success' : 'fail'}}" selected="true">
                      {{launch.reuse.capsule ? 'réutilisé' : 'non-réutilisé'}}
                    </mat-chip>
                  </mat-chip-list>
                </td>            
            </tr>
          </table>
        </mat-tab>
        <mat-tab label="Informations de la fusée">
          <h4>Informations de la fusée</h4>
          <p>L'id de fusée : {{launch.rocket.rocket_id}}</p>
          <p>Le nom de fusée : {{launch.rocket.rocket_name}}</p>
          <p>Le type de fusée : {{launch.rocket.rocket_type}}</p>
          <mat-horizontal-stepper >
            <mat-step >
              <ng-template matStepLabel>Premiére étape</ng-template>
              <table id="reuse">
                <tr>
                  <td colspan="2">Détails de noyaux</td>
                </tr>
                <tr>
                  <td>
                    série de base
                  </td>
                  <td><b>{{launch.rocket.first_stage.cores[0].core_serial}}</b></td>
                </tr>
                <tr>
                  <td>
                    vol
                  </td>
                  <td><b>{{launch.rocket.first_stage.cores[0].flight}}</b></td>
                </tr>
                <tr>
                  <td>
                    bloc
                  </td>
                  <td><b>{{launch.rocket.first_stage.cores[0].block}}</b></td>
                </tr>
                <tr>
                  <td>
                    réutilisé
                  </td>
                  <td><b>{{launch.rocket.first_stage.cores[0].reused}}</b></td>
                </tr>
                <tr>
                  <td>
                    succès de la terre
                  </td>
                  <td><b>{{launch.rocket.first_stage.cores[0].land_success}}</b></td>
                </tr>
                <tr>
                  <td>
                    type d'atterrissage
                  </td>
                  <td><b>{{launch.rocket.first_stage.cores[0].landing_type}}</b></td>
                </tr>
                <tr>
                  <td>
                    véhicule d'atterrissage
                  </td>
                  <td><b>{{launch.rocket.first_stage.cores[0].landing_vehicle}}</b></td>
                </tr>
              </table>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Deuxiéme étape</ng-template>
              <table id="reuse">
                <tr>
                  <td colspan="2">Détails de charges</td>
                </tr>
                <tr>
                  <td>
                    identifiant de charge utile
                  </td>
                  <td><b>{{launch.rocket.second_stage.payloads[0].payload_id}}</b></td>
                </tr>
                <tr>
                  <td>
                    cap série
                  </td>
                  <td><b>{{launch.rocket.second_stage.payloads[0].cap_serial}}</b></td>
                </tr>
                <tr>
                  <td>
                    réutilisé
                  </td>
                  <td><b>{{launch.rocket.second_stage.payloads[0].reused}}</b></td>
                </tr>
                <tr>
                  <td>
                    les clients
                  </td>
                  <td><b>{{launch.rocket.second_stage.payloads[0].customers}}</b></td>
                </tr>
                <tr>
                  <td>
                    type de charge utile
                  </td>
                  <td><b>{{launch.rocket.second_stage.payloads[0].payload_type}}</b></td>
                </tr>
                <tr>
                  <td>
                    masse de la charge utile en kg
                  </td>
                  <td><b>{{launch.rocket.second_stage.payloads[0].payload_mass_kg}}</b></td>
                </tr>
                <tr>
                    <td>
                      masse de la charge utile en lb
                    </td>
                    <td><b>{{launch.rocket.second_stage.payloads[0].payload_mass_lbs}}</b></td>
                  </tr>
                <tr>
                  <td>
                    orbite
                  </td>
                  <td><b>{{launch.rocket.second_stage.payloads[0].orbit}}</b></td>
                </tr>
                <tr>
                  <td>
                    orbit params
                  </td>
                  <td>
                      système de référence :<b>{{launch.rocket.second_stage.payloads[0].orbit_params.reference_system}}</b><br>
                      régime :<b>{{launch.rocket.second_stage.payloads[0].orbit_params.regime}}</b><br>
                      longitude :<b>{{launch.rocket.second_stage.payloads[0].orbit_params.longitude}}</b><br>
                      demi-grand axe en km :<b>{{launch.rocket.second_stage.payloads[0].orbit_params.semi_major_axis_km}}</b><br>
                      excentricité :<b>{{launch.rocket.second_stage.payloads[0].orbit_params.eccentricity}}</b><br>
                      periapsis en km :<b>{{launch.rocket.second_stage.payloads[0].orbit_params.periapsis_km}}</b><br>
                      apoapsis en km :<b>{{launch.rocket.second_stage.payloads[0].orbit_params.apoapsis_km}}</b><br>
                      inclinaison en deg :<b>{{launch.rocket.second_stage.payloads[0].orbit_params.inclination_deg}}</b><br>
                      période min :<b>{{launch.rocket.second_stage.payloads[0].orbit_params.period_min}}</b><br>
                      années de vie :<b>{{launch.rocket.second_stage.payloads[0].orbit_params.lifespan_years}}</b><br>
                </td>
                </tr>
                <tr>
                  <td>
                    masse de la charge utile en lb
                  </td>
                  <td><b>{{launch.rocket.second_stage.payloads[0].landing_vehicle}}</b></td>
                </tr>
                <tr>
                  <td>
                      masse retournée en kg
                  </td>
                  <td><b>{{launch.rocket.second_stage.payloads[0].mass_returned_kg}}</b></td>
                </tr>
                <tr>
                  <td>
                      masse retournée en lbs
                  </td>
                  <td><b>{{launch.rocket.second_stage.payloads[0].mass_returned_lbs}}</b></td>
                </tr>
                <tr>
                  <td>
                      temps de vol en sec
                  </td>
                  <td><b>{{launch.rocket.second_stage.payloads[0].flight_time_sec}}</b></td>
                </tr>
                <tr>
                    <td>
                        manifeste de cargaison
                    </td>
                    <td><b>{{launch.rocket.second_stage.payloads[0].cargo_manifest}}</b></td>
                  </tr>
              </table>
            </mat-step>
          </mat-horizontal-stepper>
        </mat-tab>
        <mat-tab label="Informations sur la base de lancement">
          <div *ngIf="launchpad">
            <p>{{launchpad.full_name}} ({{launchpad.location.region}})</p>
            <p>{{launchpad.details}}</p>
            <agm-map [latitude]="launchpad.location.latitude" [longitude]="launchpad.location.longitude">
              <agm-marker [latitude]="launchpad.location.latitude" [longitude]="launchpad.location.longitude"></agm-marker>
            </agm-map>
          </div>      
        </mat-tab>
      </mat-tab-group>
      
    </mat-card-content>
  </mat-card>
</div>