<h3>Liste des missions : </h3>

<mat-form-field>
  <mat-select [(ngModel)]="params.event" (ngModelChange)="filtering()">
    <mat-option value="/all">Tous les vols</mat-option>
    <mat-option value="/upcoming">Futurs vols</mat-option>
    <mat-option value="/next">Prochain vol</mat-option>
    <mat-option value="/latest">Dernier vol</mat-option>
    <mat-option value="">Précédents vols</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select [(ngModel)]="params.filter.order" (ngModelChange)="filtering()">
    <mat-option value="desc">Décroissant</mat-option>
    <mat-option value="asc">Croissant</mat-option>
  </mat-select>
</mat-form-field>

<div *ngFor="let launch of launches">
  <mat-card>
      <mat-card-header>
        <img mat-card-avatar *ngIf="launch.links.mission_patch_small" src="{{launch.links.mission_patch_small}}" > 
        <mat-card-title>{{launch.mission_name}}</mat-card-title>
        <mat-card-subtitle>{{launch.launch_date_utc | date:'yyyy-MM-dd HH:mm'}}</mat-card-subtitle>
      </mat-card-header>  
      <mat-card-content>
        <p>{{launch.details}}</p>
      </mat-card-content>
    </mat-card>
</div> 
