<spinner [backgroundColor]="'#ff0000'"
          [spinner]="spinkit.skWave"
          [debounceDelay]="100"
          [minDuration]="100">
</spinner>
<mat-drawer-container class="container" autosize>
  <mat-toolbar color="primary">
    <button type="button" mat-icon-button (click)="drawer.toggle()">
      <mat-icon>
        menu
      </mat-icon>
    </button>
    <button type="button" mat-icon-button (click) = "back()" 
            matTooltip="Revenir à la page précèdente">
      <mat-icon>
        replay
      </mat-icon>
    </button>
    <img class="logo" src="http://www.spacex.com/sites/all/themes/spacex2012/logo.png">
  </mat-toolbar>
  
  <mat-drawer class="sidenav" #drawer mode="push">
    <mat-nav-list>
      <mat-list>
        <mat-list-item *ngFor="let item of menuItems" routerLink={{item.path}} routerLinkActivate="active">
          <a matLine>{{item.name}}</a>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-nav-list>
  </mat-drawer>
  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>