<div *ngIf="rockets || capsules || cores" >
  <mat-tab-group (selectedTabChange)="switchTab($event)">
      <mat-tab label="Réacteurs">
        <mat-card *ngFor="let rocket of rockets">
          <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>{{rocket.name}}</mat-card-title>
            <mat-card-subtitle>Type : {{rocket.type}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>En activité {{rocket.active}}</p>
            <p>Booster : {{rocket.boosters}}</p>
            <p>Entreprise : {{rocket.company}}</p>
            <p>Coût par lancement : {{rocket.cost_per_launch}}</p>
            <p>Pays : {{rocket.country}}</p>
            <p>Description {{rocket.description}}</p>
            <p>Diamètre : {{rocket.diameter.meters}}</p>
            <p>Hauteur : {{rocket.height.meters}}</p>
            <p>Masse : {{rocket.mass.kg}}</p>
            <p>Nombre d'étages : {{rocket.stages}}</p>
            <p>Premier vol {{rocket.first_flight}}</p>
            <p>Pourcentage de réussite : {{rocket.success_rate_pct}}%</p>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Capsules">
          <mat-card >
              <mat-card-header>
              </mat-card-header>
              <mat-card-content *ngFor="let capsule of capsules"  class="align-table">
                  <div class="right">
                  <table  id="reuse">
                      <tr>
                        <td>
                            id
                        </td>
                        <td>
                             nom
                        </td>
                        <td>
                             type
                        </td>
                        <td>
                            actif
                      </td>
                      <td>
                            capacité de l'équipage
                          </td>
                          <td>
                                angle de paroi latérale deg
                            </td>
                            <td>
                                    durée de l'orbite an
                                </td>
                                <td>
                                        bouclier thermique
                                    </td>
                                    <td>
                                            bouclier thermique
                                          </td>
                                          <td>
                                                taille mètres
                                            </td>
                                            <td>
                                                    degrés de température
                                                </td>
                                                <td>
                                                        partenaire de développement
                                                    </td>
                                                    <td>
                                                            propulseurs
                                                        </td>
                      </tr>
                      <tr>
                         <td>
                             {{capsule.id}}
                         </td>
                          <td>
                              {{capsule.name}}
                          </td>
                           <td>
                                {{capsule.type}}
                            </td>
                              <td>
                                  {{capsule.active}}
                              </td>
                 
                            
                            <td>
                              {{capsule.crew_capacity}}
                            </td>
                        
                        
                            <td>
                                {{capsule.sidewall_angle_deg}}
                            </td>
                       
                            
                            <td>
                                {{capsule.orbit_duration_yr}}
                            </td>
                      
                          <td>
                              {{capsule.heat_shield.material}}
                          </td>
                      
                            
                            <td>
                              {{capsule.heat_shield.material}}
                            </td>
                        
                              
                              <td>
                                  {{capsule.heat_shield.size_meters}}
                              </td>
                           
                               
                                <td>
                                    {{capsule.heat_shield.temp_degrees}}
                                </td>
                           
                                 
                                  <td>
                                      {{capsule.heat_shield.dev_partner}}
                                  </td>
                                
                                    
                                    <td>
                                        <p>tapez : {{capsule.thrusters[0].type}}</p>
                                        <p>montant : {{capsule.thrusters[0].amount}}</p>
                                        <p>gousses : {{capsule.thrusters[0].pods}}</p>
                                        <p>carburant 1 : {{capsule.thrusters[0].fuel_1}}</p>
                                        <p>carburant 2 : {{capsule.thrusters[0].fuel_2}}</p>
                                        <p>
                                            poussée :<br> - kN : {{capsule.thrusters[0].thrust.kN}}<br>
                                                      -lbf : {{capsule.thrusters[0].thrust.lbf}}
                                        </p>
                                    </td>
                                  </tr>
                    </table>
                </div>
              </mat-card-content>
            </mat-card>
      </mat-tab>
      <mat-tab label="Noyaux" >
          <mat-card *ngFor="let core of cores">
              <mat-card-header>
              </mat-card-header>
              <mat-card-content>
                <p>série de base : {{core.core_serial}}</p>
                <p>bloc : {{core.block}}</p>
                <p>statut : {{core.status}}</p>
                <p>lancement original : {{core.cost_per_launch}}</p>
                <p>missions : {{core.missions}}</p>
                <p>rtls tentative {{core.rtls_attempt}}</p>
                <p>atterrissages  : {{core.rtls_landings}}</p>
                <p>asds tente : {{core.asds_attempt}}</p>
                <p>asd atterrissages : {{core.asds_landings}}</p>
                <p>atterrissage d'eau : {{core.water_landing}}</p>
                <p>détails :  {{core.details}}</p>
              </mat-card-content>
            </mat-card>
      </mat-tab>
    </mat-tab-group>
</div>