
#reuse {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#reuse td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#reuse tr:nth-child(even){background-color: #f2f2f2;}

#reuse tr:hover {background-color: #ddd;}

#reuse th {
    padding: 12px 6px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
.align-table{
    display: flex;
}
