<h3>Informations de l'entreprise :</h3>
<mat-card class="company-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{companyInfo.name}}</mat-card-title>
    <mat-card-subtitle>{{companyInfo.founded}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{companyInfo.summary}}</p>
    <p>{{companyInfo.employees}} employés</p>
    <p>Fondateur {{companyInfo.founder}}</p>
  </mat-card-content>
  <mat-card-actions>
    <ul>
      <li>CEO : {{companyInfo.ceo}}</li>
      <li>COO : {{companyInfo.coo}}</li>
      <li>CTO : {{companyInfo.cto}} et {{companyInfo.cto_propulsion}}</li>
    </ul>
  </mat-card-actions>
</mat-card>